-# %p#notice= notice
-# %h1 Listing Movies
-# %table
-#   %thead
-#     %tr
-#       %th Title
-#       %th Rating
-#       %th Run time
-#       %th{:colspan => "3"}
-#   %tbody
-#     - @movies.each do |movie|
-#       %tr
-#         %td= movie.title
-#         %td= movie.rating
-#         %td= movie.run_time
-#         %td= link_to 'Show', movie
-#         %td= link_to 'Edit', edit_movie_path(movie)
-#         %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }
-# %br/
.ui.container
  .ui.divided.items
    -@movies.each do |movie|
      .movie.item
        .image
          %img{:src => "#{movie.image_url}", class: 'movie-image'}
        .content
          .header= movie.title
  = link_to 'New Movie', new_movie_path
