-if flash[:error].present?
  .ui.negative.message
    %i.close.icon
    .header
      Order could not be processed
%h1 Now Playing
#movies
  = render 'movies'

:coffeescript
  $ ->
    history.replaceState({ tag: true }, '', "#{url_for(params)}")
